*{
    background-color: white;
}
#check {
    display: none;
}
.container_header {
    display: grid;
    position: fixed;
    width: 100%;
    min-height: 100px;
    height: 6svh;
    grid-template-rows: 100% 5svh;
    grid-template-columns: 270px  4fr 1fr;
    align-items: center;
    justify-items: center;
}
.container_header img {
    grid-area: 1/1/1/1;
    padding: 1.5rem 1.5rem 1rem;
}
.current {
    color: #0000ff !important;
}
.container_header nav a{
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #2d2d2d;
}
@media (min-width: 1200px) {
    .container_header nav {
        grid-area: 1/2/1/3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .container_header nav a {
        grid-area: 1/2/1/3;
        text-align: left;
        position: relative;
        opacity: 0.8;
        margin: 0 1.5svw;
    }
    .container_header nav a:hover {
        color: #2d2d2d;
        opacity: 1;
        transition: 0.3s;
    }
    .container_header nav a:after {
        content: '';
        position: absolute;
        background-color: #0000ff;
        height: 3px;
        width: 0;
        left: -1px;
        bottom: -8px;
        transition: 0.5s;
    }
    .container_header nav a:hover:after {
        width: 70%;
    }
    .container_header button {
        grid-area: 1/3/1/4;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #0000ff;
        opacity: 1;
        cursor: pointer;
        transition: 0.3s;
    }
    .container_header button:hover {
        opacity: 0.8;
        transition: 0.3s;
        transform: scale(1.02);
        .arrow {
            transform: translateX(-10px);
            font-size: 50px !important;
            transition: 0.2s;
        }
    }
    .container_header button span {
        display: inline-block;
        width: 60%;
        text-align: left;
        color: white;
        font-family: "Montserrat",sans-serif;
        font-size: 18px;
        font-weight: 600;
        padding: 0 1rem 0;
    }
    .arrow {
        width: 30% !important;
        font-size: 40px !important;
        transition: 0.2s;
    }
    .hidden {
        display: none;
}}
@media (max-width: 1200px) {
    .container_header nav {
        position: absolute;
        top: 70%;
        width: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.97);
        transition: 0.3s;
    }
    #check:checked~.nav{
        width: 200px !important;
        transition: 0.3s;
    }
    .container_header nav a {
        display: block;
        margin: 1rem 1.5rem;
        text-align: end;
        opacity: 0;
    }
    #check:checked~.nav a{
        transition: 0.7s;
        opacity: 1;
    }
    #check:checked~.nav #nav_1{
        animation: barIn 0.2s;
    }
    #check:checked~.nav #nav_2{
        animation: barIn 0.3s;
    }
    #check:checked~.nav #nav_3{
        animation: barIn 0.4s;
    }
    #check:checked~.nav #nav_4{
        animation: barIn 0.5s;
    }
    #check:checked~.nav #nav_5{
        animation: barIn 0.6s;
    }
    #check:checked~.nav #nav_6{
        animation: barIn 0.7s;
    }
    #check:checked~.nav #nav_7{
        animation: barIn 0.8s;
    }
    .container_header button {
        display: none;
    }
    .container_menu {
        grid-area: 1/3/1/4;
        cursor: pointer;
        justify-self: end;
        margin-right: 1.5rem;
    }
    .menu {
        width: 30px;
        height: 3px;
        background-color: #0000ff;
        margin: 0.5svh;
        transition: 0.2s;
    }
    .bar_1{
        animation: barIn 0.2s;
    }
    .bar_2{
        animation: barIn 0.3s;
    }
    .bar_3{
        animation: barIn 0.4s;
}}
    @media (max-width: 350px) {
        .container_header{
            grid-template-columns: 150px  4fr 1fr;
        }
        .container_header img{
            width: 150px;
}}
.header{
    grid-area: 2/1/2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #0a1e32;    
}
.container_header h1 {
    color: white;
    font-size: 19.2px;
    font-family: "JetBrains Mono",monospace;
    font-weight: 700;
    margin: 0 1rem;
}








































@keyframes barIn {
0%{
    transform: translateX(100px);
}  
70%{
    transform: translateX(-20px);
}}